body {
background-color: #3c7952;
}
.signup-content {
top: -100%;
}

.logoutbutton{
background-color: #b5332a;
width: 60px;
height: 35px;
color: white;
margin-right: 10px;
margin-top: 10px;
border-radius: 3px;
}
.header {
background: #70a282;
display: flex;
flex-direction: row;
justify-content: space-between;
}

h1 {
font-size: 50px;
margin: 0;
padding-left: 5px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
color: #3c7952;
}

a:visited {
  color: #15d45a;
}
