input {
  margin-left: 2px;
}
.form-group {
  padding: 5px 0px 5px 0px;
}

.signup-content {
  border: 1px solid black;
  color: #194D2C;
  background: #23794b;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 85px;
  border-radius: 10px;
}

.loginbutton {
  float: left;
  margin-left: -30px;
  margin-top: -40px;
}

.signupbutton {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  font-size: 15px;
}
