
h2{
  font-size: 30px;
  color: #193a19;
}
h3 {
  font-size: 20px;
}

p {
  font-size: 17px;
}

.textstyle {
  background: #70a282;
  height: 160px;
  width: 50%;
  border: 1px solid grey;
  text-align: center;
  margin-left: 25%;
  margin-top: 20px;
  padding-top: 10px;
}


.user-input {
  width: 200px;
  height: 20px;
}

.user-edit {
  text-align: center;
  margin-left: 2px;
  width: 100%;
}

.button-edit {
  margin-left: 5px;
  width: 70px;
  height: 25px;
}
